/* 
    Theme Name: Training Wheels
    Theme URI: http://www.wpbedouine.com
    Description: A theme to learn WordPress Theme Development from Scratch
    Version: 0.1
    Author: Nur Ahmad Furlong
    Author URI: http://www.nomad-one.com
*/

/* This stylesheet is split up by Category to make it easier to find the styles you might want to change

1. Standard Styles - body, container, a, h2, h3, h4, h5
2. Header Styles
3. Menu Styles
4. Content Styles
5. Sidebar Styles 
6. Footer Styles

*/

body {
	text-align: center;
	padding: 0;
	margin: 0;
	background-color: #698181;
	background-image:url(images/2692904990_8bde57388b_2.jpg);
}
#container {
	width: 950px;
	margin: 0 auto;
	text-align: left;
	font-family: Georgia, "Times New Roman", Times, serif;
}

a {
	color: #0099CC;
}
h2 {
	font-size: 18px;
	font-weight: bold;
	color: #698181;
	border-bottom: 1px #cbdde4 dotted;
}
h3 {
	font-size: 16px;
	font-weight: bold;
	color: #698181;
	border-bottom: 1px #cbdde4 dotted;
}
h4 {
	font-size: 14px;
	font-weight: bold;
	color: #698181;
	border-bottom: 1px #cbdde4 dotted;
}
h5 {
	font-size: 12px;
	font-weight: bold;
	color: #698181;
	border-bottom: 1px #cbdde4 dotted;
}





/* ========================================================== Header Styles ======= */

#header {
	height: 151px;
	background-color: #464646;
	overflow: hidden;
}

#header h1 {
	margin: 32px 0 0 25px;
	font-family: 'Dancing Script', cursive;
}
#header h1 a, #header h1 a:visited {
	color: #9FF;
	text-decoration: none;
}

#header h1 a:hover {
	color: #006699;

}

#header h2 {
	margin: 21px 0 0 25px;
	font-size: 16px;
	font-style:italic;
	font-weight:normal;
	color: #FFFFFF;
	border: none;
}

/* ========================================================== Menu Styles ======= */

#menu {
	height: 30px;
	background-color:  #0099CC;
	display: block;
	overflow: hidden;
	padding: 10px 0 0 25px;
	border-bottom: 1px #698181 solid;
	border-top: 1px #698181 solid;
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
}

#menu ul {
	float: left;
	display: block;
	margin: 0 25px 0 0;
	padding: 0;
}

#menu ul li {
	float: left;
	margin: 0 16px 0 0;
	width: auto;
	list-style: none;
}

#menu ul li a{
	color: #fff;
	text-decoration: none;
}

#menu li a:hover{
	color: #9FF;
	text-decoration: underline;
}


/* ========================================================== Content Styles ======= */

#content {
	font-family: "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
	background-image: url(images/content_bg.gif);
	background-repeat:repeat-y;
	height: auto;
	overflow: hidden;
}

#content p {
	font-size: 13px;
}

#content h2, h3, h4, h5 {
	color: #d54e21;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#content h3 {
	margin-top: 18px;
}

#content li {
	font-size: 12px;
}

#content dl {
	font-size: 12px;
	margin-top: 10px;
}

#content dt {
	font-size: 12px;
	margin-top: 10px;
	font-weight: bold;
}

blockquote {
	background-color: #fffbcc;
	border: 1px #e6db55 dotted;
	margin: 10px 0px;
	padding: 5px 10px;
}


#middle-column {
	padding: 10px;
	float: left;
	width: 530px;
	background-color: #fff;
}

.meta {
	border: 1px #698181 solid;
	background-color: #eaf3fa;
	padding: 10px;
	font-size: 11px;
}

.meta a {
	color: #f19322;
}

/* ========================================================== Sidebar Styles ======= */

#sidebar {
	padding-bottom: 1500px;
	margin-bottom: -1500px;
}
.left {
	float: left;
	width: 200px;
}
.right {
	float: right;
	width: 200px;
}
#sidebar h3,
#sidebar h4
 {
  	margin: 30px 10px 10px 10px;
	color:#9FF;
}
#sidebar ul {
	list-style: none;
	padding: 0;
	margin-left: 25px;
}
#sidebar ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
#sidebar li {
	list-style: none;
	margin: 0;
	padding: 0;
}
#sidebar a {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
}
#calendar_wrap #wp-calendar {
	font-size: 12px;
}

/* ========================================================== Footer Styles ======= */

#footer {
	width: 100%;
	height: 50px;
	float: left;
	background-color: #0099CC;
	font-family: 'Dancing Script', cursive;
}

#footer p {
	margin: 10px 25px;
	color: #fff;
}

#footer a{
	color: #99FFFF;
	text-decoration: none;
}

#footer a:hover{
	color: #CCCCCC;
	text-decoration: underline;
}
